<aside class="filter-container">

  <div class="filter-input-container">
    <label for="filter-text" class="filter-input-label">Enter a song title </label>
    <input type="text" name="filter-text" id="filter-text" class="filter-input">
  </div>

  <button id="search-button" class="action-button">Search</button>

</aside>
