<aside class="filter-container">

  <div class="filter-input-container">
    <input type="text" name="filter-title" placeholder="Title..." id="filter-title"><br>
    <input type="text" name="filter-artist" placeholder="Artist..." id="filter-artist"><br>
    <input type="text" name="filter-album" placeholder="Album..." id="filter-album"><br>
    <input type="text" name="filter-genre" placeholder="Genre..." id="filter-genre"><br>
    <input type="text" name="filter-year" placeholder="Year..." id="filter-year">
  </div>

  <button id="search-button" class="action-button">Search</button>

</aside>
