<main class="artist-page">
  <div class="title-container">
    <h1>Artists</h1>
  </div>

  <div class="artists-list-container">

    {{#each tracks}}
      {{> artistTemplate}}
    {{/each}}

  </div>
</main>
