{{#unless empty}}
  {{> filter}}
{{/unless}}

<main class="home-page">
    <div id = "library-content">

<!-- passed the libData objcect -->
<!-- ex:                          -->
<!--
{
    Pink Floyd: {
      Dark Side of the Moon: {
        tracks: [song 1, song 2, song 3...]
      }
    }
      Earl Sweatshirt: {
        Some Rap Songs: {
          tracks: [song 1, song 2, song 3...]
      }
    }

}
-->

      {{#each this}}
        {{#each this}}
          {{#each tracks}}
            {{> trackTemplate}}
          {{/each}}
        {{/each}}
      {{/each}}

  </div>
</main>
