<main>
  <div id="modal-backdrop"></div>
  <div id="add-photo-modal">
    <div class="modal-dialog">

      <div class="modal-header">
        <h3>Enter the file path to your music</h3>
        <button type="button" id="modal-close" class="modal-hide-button">&times;</button>
      </div>

      <div class="modal-body">

        <div class="file-input-element">
          <label for="photo-caption-input">Location</label>
          <input type="text" id="file-input"></input>
        </div>

      </div>

      <div class="modal-footer">
        <button type="button" id="modal-cancel" class="modal-hide-button action-button">Cancel</button>
        <button type="button" id="modal-accept" class="action-button">Upload Music</button>
      </div>

    </div>
  </div>
</main>
